import(methods)
import(IRanges)
importFrom(Biostrings, AAString,
                       AAStringSet,
                       AAStringSetList)
exportMethods(cleave,
              cleavageRanges,
              cleavageSites)
